startpage/.idea/uiDesigner.xml
startpage/.idea/todoapp.iml
startpage/.idea/modules.xml
startpage/.idea/encodings.xml
startpage/.idea/copyright/profiles_settings.xml
startpage/.idea/workspace.xml
startpage/.idea/vcs.xml
startpage/.idea/misc.xml
startpage/.idea/compiler.xml
startpage/.idea/.name
