* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container-topleft {
    color: #666666;
}
#weekday {
    color: #000000;
    font: normal 2.5em Helvetica;
    margin-bottom: 0;
}

#day {
    display: inline;
    font: normal 1.5em Helvetica;
}

#month {
    font: normal 1.5em Helvetica;
    display: inline;
}

html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    background: url('https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5b26ebee11698a7b6b41799de68ad5a&auto=format&fit=crop&w=1355&q=80') no-repeat center;
    background-size: cover;
    height: 100%;
    padding: 3em;
    width: 100%;
    overflow: hidden;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #FFFFFF;
    height: 70%;
    width: 100%;
    overflow: auto;
    font: 100 1em Helvetica;
    flex-direction: row-reverse;
}

.column {
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    border-radius: 3%;
    max-height: 90%;
    height: 40em;
    width: 26em;
    margin-right: 1%;
    min-height: 16em;
    -webkit-box-shadow: 0 0.5vw 1vw 0 rgba(0,0,0,0.3);
    box-shadow: 0 0.5vw 1vw 0 rgba(0,0,0,0.3);
    background: white;
    margin-left: 1%;
}

.checkmark {
    position: absolute;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    width: 1.2em;
    height: 1.2em;
    border-radius: 25%;
}

.checkmark {
    content: "";
    position: absolute;
    display: inline;
}

.task-checkbox-label input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
}

.task-checkbox-label input:checked ~ .task-name {
    text-decoration: line-through;
    color: #FFFFFF;
}

.check-icon {
    font-size: 1.2em;
    color: #000000;
    display: none;
}

.task-checkbox-label input:checked ~ .checkmark .check-icon{
    display: block;
}

.task-name {
    padding-left: 2em;
    font-size: 1em;
    position: absolute;
    display: inline;
}

.task {
    position:  relative;
}

.category-title {
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight:  100;
    padding-left: 1em;
}

.bin {
    display:none;
}

.task-checkbox-label input:checked ~ .bin {
    font-size: 20px;
    display: block;
    left: 30%;
    float: right;
    padding-right: 2%;
}

.footer-category {
    border: solid rgba(255, 255, 255, .2);
    border-width: 0.08em 0 0 0;
    width: 100%;
    display:  -webkit-box;
    display:  -ms-flexbox;
    display:  flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 10%;
}

.task-checkbox-label {
    width: 100%;
}


.footer-button {
    font-size: 1em;
    color: #FFFFFF;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    -webkit-box-pack:  center;
    -ms-flex-pack:  center;
    justify-content:  center;
    text-transform: uppercase;
}

.column-upper-part {
    height: 90%;
    padding-top: 2em;
    width: 100%;
}


.task-container {
    cursor: pointer;
    padding-left: 1.75em;
    padding-top: 1em;
    padding-bottom: 2em;
}

@media (max-width: 1512px) {
    .column {
        max-width: 26em;
        width: 48%;
    }

    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 70%;
    }
}

@media (max-width: 1000px) {
    .column {
        width: 24em;
        max-width: 98%;
        min-width: 16em;
    }

    .flex-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 70%;
    }

}

@media (max-height: 700px) {
    .task-container {
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .category-title {
        padding-bottom: 0;
    }
}

.defaultColumnTitleText {
    color: #666666;
    font-weight: 100;
}

.flex-container .column:nth-child(3) {
 background: -webkit-linear-gradient(45deg, #6676FD 0%, #6FE5DE 100%);
 background: -o-linear-gradient(45deg, #6676FD 0%, #6FE5DE 100%);
 background: linear-gradient(45deg, #6676FD 0%, #6FE5DE 100%);
}

.flex-container .column:nth-child(2) {
    background: -webkit-linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
    background: -o-linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
    background: linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
}

.flex-container > .column:first-child {
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:  center;
    -ms-flex-pack:  center;
    justify-content:  center;
    -webkit-box-align:  center;
    -ms-flex-align:  center;
    align-items:  center;
    color: #666666;
}

.flex-container .column:first-child .task-container {
    display: none;
}

.flex-container .column:first-child .category-title {
    color: #666666;
    font-weight: 100;
}

.flex-container .column:first-child .column-upper-part {
    width: 100%;
    text-align: center;
    height: unset;
}

.flex-container .column:first-child .footer-category {
    display: none;
}

.selected-task {
    margin-left: -1%;
    width: 102%;
    padding-left: 2em;
}

.flex-container > .column:nth-child(3) .selected-task {
    background: -webkit-linear-gradient(45deg, #6BB3EC 0%, #6ED4E3 100%);
    background: -o-linear-gradient(45deg, #6BB3EC 0%, #6ED4E3 100%);
    background: linear-gradient(45deg, #6BB3EC 0%, #6ED4E3 100%);

}

.flex-container > .column:nth-child(2) .selected-task {
    background: -webkit-linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
    background: -o-linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
    background: linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
}

.sibling-of-selected-task {
    background-color: rgba(255,255,255,0.1);
}
