body, html {
    width: 100%;
    height: 100%;
}

h1 {
    color: black;
    font: normal 2vw Helvetica;
    margin-bottom: 0%;
}

h2 {
    color: #666666;
    font: normal 1vw Helvetica;
    display: inline;

}

.container {
    background-image : url('https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5b26ebee11698a7b6b41799de68ad5a&auto=format&fit=crop&w=1355&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.viewport {
    width: 90%;
    height: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
}

.category1 {
    border-radius: 3%;
    background: linear-gradient(45deg, #6676FD 0%, #6FE5DE 100%);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    width: 25%;
    height: 80%;
    margin-left: 10%;
    float: left;
    position: absolute;
}

.category2 {
    border-radius: 3%;
    background: linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    width: 25%;
    height: 80%;
    margin-left: 40%;
    float: left;
    position: absolute;

}

.container-category {
    margin-left: 5%;
    width: 80%;
    height: 70%;
    position: relative;
    top: 30%;
}

.category-title {
    color: white;
    font: 1.5vw Helvetica;
    margin-left: 7%;
    margin-bottom: 20%;
}

.tasks-checkbox {
    display: block;
    position: relative;
    padding-left: 20%;
    color: white;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: 0.8vw;
    font-family: Helvetica;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tasks-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 7%;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: white;
    width: 1em;
    height: 1em;
    border-radius: 25%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.tasks-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.tasks-checkbox input:checked ~ .strikethrough {
    text-decoration: line-through;
}

.tasks-checkbox input:checked ~ .material-icons {
    display: inline;
    float: right;
    padding-right: 10%;
    font-size: 1vw;
}

/* Style the checkmark/indicator */
.tasks-checkbox .checkmark:after {
    left: 20%;
    width: 0.4em;
    height: 0.8em;
    border: solid black;
    border-width: 0 0.2em 0.2em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer-kategorie {
    border: solid rgba(255, 255, 255, .2);
    border-width: 0.08em 0px 0px 0px;
    position: absolute;
    top: 85%;
    width: 100%;
    height: 15%;
}

.footer-button {
    margin-top: 10%;
    font-size: 0.9vw;
    color: white;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-left: 25%;
    max-width: 50%;
}

.material-icons {
display:none;
}

.boxxx {
    display: block;
}

.tasks-checkbox input:checked + .boxxx {
    color: red;
    border: solid;
    border-width: 0.1px;
    display: inline;
    width: 110%;
    height: 110%;
    left: -5%;
    position: absolute;
}

.container-burger {
    position: relative;
    margin-left: 3%;
}
.burger {
    width: 2vw;
    height: 0.2vw;
    background-color: black;
    margin-bottom: 0.2%;
}

label:hover {
    cursor: pointer;
    background: linear-gradient(45deg, #6BB3EC 0%, #6ED4E3 100%);
    transform: scale(1.05);
    height: 6%;
    padding-top: 3%;
}
