body,
html {
    height:100%;
}

h1 {
    color: black;
    font: normal 4vw Helvetica;
    margin-bottom: -2%;
}

h2 {
    color: #666666;
    font: normal 2vw Helvetica;
}

.container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}


.viewport {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
}

.datum-untere-reihe {
    display: inline;
}

.zentriertes-element {
    bottom: 50%;
    max-width: 20%;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
}

.bild {
    height: auto;
    margin: auto;
    max-width: 100%;
}

#logo-label {
    color: #9E3223;
    font-family: Helvetica;
    margin: auto;
    width: 100%;
}

.container-logo {
    width: 100%;
}

#container-kategorie {
    width: 30%;
    height: 60%;
    left: 40%;
    position: absolute;
    top: 30%;
    background-color: #9E3223;
    border-radius: 25px;
}

#footer-link {
    color: red;
    position: absolute;
    left: 35%;
    top: 85%;
    max-width: 30%;
    font-size: 1vw;
}
.container-kategorie1 {
    width: 100%;
}