* {
    box-sizing: border-box;
}

.weekday {
    color: black;
    font: normal 36px Helvetica;
    margin-bottom: 0%;
}

.date {
    color: #666666;
    font: normal 24px Helvetica;
    display: inline;

}

html {
    height: 100%;
}

body {
    margin: 0;
    background: url('https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5b26ebee11698a7b6b41799de68ad5a&auto=format&fit=crop&w=1355&q=80') no-repeat center;
    background-size: cover;
    height: 100%;
    padding: 2em;
    width: 100%;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    color: white;
    font-family: Helvetica;
    height: 70%;
    width: 100%;
    overflow: auto;
}

.column {
    align-self: stretch;
    border-radius: 3%;
    max-height: 90%;
    height: 40em;
    width: 26em;
    margin: 1%;
    box-shadow: 0 0.5vw 1vw 0 rgba(0,0,0,0.3);
}


.column-1 {
    background: linear-gradient(45deg, #6676FD 0%, #6FE5DE 100%);
}


.column-2 {
    background: linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
}


.column-3 {
    background-color: #FFFFFF;
    display: flex;
    justify-content:  center;
    align-items:  center;
}

@media (max-width: 1512px) {
    .column {
        width: 50%;
        max-width:  28em;
    }

    .flex-container {
        flex-direction: column;
        height: 70%;
    }
}

@media (max-width: 1000px) {
    .column {
        width: 100%;
        max-width:  28em;
    }

    .flex-container {
        flex-direction: column;
        height: 70%;
    }
}

.bin {
    display:none;
}

.task-checkbox-label input:checked ~.bin-icon-container .bin {
    font-size: 20px;
    display: inline-flex;
    left: 30%;
    float: right;
    padding-right: 2%;
}

.task-checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.task-checkbox-label {
    width: 100%;
}

.checkmark {
    position: absolute;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: white;
    width: 1em;
    height: 1em;
    border-radius: 25%;
}

.checkmark {
    content: "";
    position: absolute;
    display: block;
}

.task-checkbox-label input:checked ~ .task-name {
    text-decoration: line-through;
    color: white;
}

.check-icon {
    font-size: 1em;
    color: #000000;
    display: none;
}

.task-checkbox-label input:checked ~ .checkmark .check-icon{
    display: block;
}

.task-name {
    padding-left: 2em;
    font-size: 1em;
    position: absolute;
}

.task {
    padding-bottom: 2em;
    position:  relative;
}

.category-title {
    padding-bottom: 2em;
    font-size: 1.5em;
    font-weight:  100;
}

.footer-category {
    border: solid rgba(255, 255, 255, .2);
    border-width: 0.08em 0px 0px 0px;
    width: 100%;
    display:  flex;
    align-items: center;
    justify-content: center;
    height: 10%;
}

.footer-button {
    font-size: 1em;
    color: #FFFFFF;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    justify-content:  center;
}

.container-topleft {
    padding: 1em;
}

.ckbox {
    fill: white;
}

.column-upper-part {
    height: 90%;
    padding: 2em;
}

.new-category-button-plus-sign {
    font-size: 3em;
    padding-bottom: 0;
    font-weight: 100;
    margin-bottom: 0%;
}

.new-category-button-text {
    font-size: 2em;
    font-weight: 100;
}

.column-3-centered-container {
    color: #666666;
    display: flex;
    justify-content:  center;
    align-items:  center;
    max-width: 55%;
    flex-wrap:  wrap;
    font-family: Helvetica;
}

.outer-taskfield-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.outer-taskfield-label input:checked ~.task {
    cursor: pointer;
    margin-left: -2.5em;
    width: 27em;
    padding-left: 2.5em;
    padding-bottom: 2em;
    margin-bottom: 1em;
}


.label-column-1 input:checked ~.task {
    background: linear-gradient(45deg, #6BB3EC 0%, #6ED4E3 100%);
}

.label-column-2 input:checked ~.task {
    background: linear-gradient(225deg, #FFD189 0%, #FF6A72 100%);
}
